openapi: 3.0.0
info:
  description: Payments
  version: v2
  title: Payments [automation]
tags:
  - name: Payments
    description: API to manage payments
servers:
  - url: https://api-solutions.sensedia.com/sandbox/payment-service/v2
    description: Sandbox environment
paths:
  /payments:
    post:
      tags:
        - Payments
      description: Creates a new payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
        description: Payment request
      responses:
        '201':
          description: Created.
          content:
            json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: Required field missing
          content:
            json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BadRequestException'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          content:
            json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
  /payments/{accountId}:
    get:
      tags:
        - Payments
      description: Displays payments of a given account
      parameters:
        - name: accountId
          in: path
          description: The account id
          required: true
          schema:
            type: number
      responses:
        '200':
          description: OK
          content:
            json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentResponse'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          content:
            json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
components:
  schemas:
    PaymentRequest:
      type: object
      properties:
        accountId:
          type: number
          example: 668350309665777400
        type:
          type: string
          example: C
        amount:
          type: number
          example: 100
        channel:
          type: string
          example: Internet banking
        description:
          type: string
          example: Rent test
        destination:
          type: string
          example: Land test
    PaymentResponse:
      type: object
      properties:
        id:
          type: number
          example: 751265252449747000
        accountId:
          type: number
          example: 668350309665777400
        type:
          type: string
          example: C
        amount:
          type: number
          example: 100
        channel:
          type: string
          example: Internet banking
        description:
          type: string
          example: Rent test
        destination:
          type: string
          example: Land test
    BadRequestException:
      properties:
        code:
          type: string
          example: '400.001'
          description: Error code
        message:
          type: string
          example: The field {FIELD} is required.
          description: Error message
    UnprocessableEntityException:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        detail:
          type: string
          description: Error detail
