swagger: '2.0'
info:
  description: Accounts
  version: '1'
  title: '[Sensedia Bank] Account Service'
host: api-us.sensedia.com
basePath: /sb/account-service/v1
tags:
  - name: Accounts
    description: API to manage accounts
schemes:
  - https
paths:
  '/accounts/{accountId}':
    get:
      tags:
        - Accounts
      summary: Displays an account by its id
      description: Displays an account by its id
      produces:
        - json
      parameters:
        - name: accountId
          in: path
          description: The account id
          required: true
          type: number
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetAccountsByIdResponse'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
    parameters: []
  '/accounts/{accountId}/statements':
    get:
      tags:
        - Accounts
      summary: Displays statements of a given account
      description: Displays statements of a given account
      produces:
        - json
      parameters:
        - name: accountId
          in: path
          description: The account id
          required: true
          type: number
      responses:
        '200':
          description: Created.
          schema:
            $ref: '#/definitions/StatementResponse'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
    parameters: []
  /accounts:
    get:
      tags:
        - Accounts
      summary: Displays all accounts
      description: Displays all accounts
      produces:
        - json
      parameters: []
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/GetAccountsByIdResponse'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
    post:
      tags:
        - Accounts
      summary: Creates a new account
      description: Creates a new account
      consumes:
        - application/json
      produces:
        - json
      parameters:
        - in: body
          name: body
          description: Account request
          required: false
          schema:
            $ref: '#/definitions/AccountRequest'
      responses:
        '201':
          description: Created.
          schema:
            $ref: '#/definitions/AccountResponse'
        '400':
          description: Required field missing
          schema:
            type: array
            items:
              $ref: '#/definitions/BadRequestException'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
    parameters: []
  /accounts/balances:
    post:
      tags:
        - Accounts
      summary: Changes an account balance
      description: Changes an account balance
      consumes:
        - application/json
      produces:
        - json
      parameters:
        - in: body
          name: body
          description: Change Balance Request
          required: false
          schema:
            $ref: '#/definitions/ChangeBalance'
      responses:
        '201':
          description: Created.
          schema:
            $ref: '#/definitions/ChangeBalanceResponse'
        '400':
          description: Required field missing
          schema:
            type: array
            items:
              $ref: '#/definitions/BadRequestException'
        '401':
          description: Authentication error
        '403':
          description: Authorization error
        '404':
          description: Resource not found
        '422':
          description: Business error
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '500':
          description: Internal server error
        '503':
          description: Unavailable server
    parameters: []
definitions:
  AccountRequest:
    type: object
    properties:
      allowOverdraft:
        type: boolean
        example: true
      customerId:
        type: number
        example: 751265234412765200
  AccountResponse:
    type: object
    properties:
      active:
        type: boolean
        example: true
      allowOverdraft:
        type: boolean
        example: true
      balance:
        type: number
        example: 0
      customerEmail:
        type: string
        example: sensedia@sensedia.com
      customerId:
        type: number
        example: 751265234412765200
      customerName:
        type: string
        example: Sensedia SA
      id:
        type: number
        example: 751265252449747000
  BadRequestException:
    properties:
      code:
        type: string
        example: '400.001'
        description: Error code
      message:
        type: string
        example: 'The field {FIELD} is required.'
        description: Error message
  ChangeBalance:
    type: object
    properties:
      accountId:
        type: number
        example: 668350309665777400
      amount:
        type: number
      type:
        type: string
        example: C
  ChangeBalanceResponse:
    type: object
    properties:
      accountId:
        type: number
        example: 668350309665777400
      balance:
        type: number
        example: 1000
  GetAccountsByIdResponse:
    type: object
    properties:
      active:
        type: boolean
        example: true
      allowOverdraft:
        type: boolean
        example: true
      balance:
        type: number
        example: 0
      customerEmail:
        type: string
        example: sensedia@sensedia.com
      customerId:
        type: number
        example: 751265234412765200
      customerName:
        type: string
        example: Sensedia SA
      id:
        type: number
        example: 751265252449747000
  Payment:
    type: object
    properties:
      amount:
        type: number
        example: 100
      channel:
        type: string
        example: Internet banking
      description:
        type: string
        example: Rent test
      destination:
        type: string
        example: Land test
      id:
        type: number
      type:
        type: string
        example: C
  StatementResponse:
    type: object
    properties:
      active:
        type: boolean
        example: true
      allowOverdraft:
        type: boolean
        example: true
      balance:
        type: number
        example: 0
      customerEmail:
        type: string
        example: sensedia@sensedia.com
      customerId:
        type: number
        example: 751265234412765200
      customerName:
        type: string
        example: Sensedia SA
      id:
        type: number
        example: 751265252449747000
      payments:
        type: array
        items:
          $ref: '#/definitions/Payment'
  UnprocessableEntityException:
    type: object
    properties:
      code:
        type: string
        description: Error code
      detail:
        type: string
        description: Error detail
      message:
        type: string
        description: Error message